<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="SysOutStream" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="${sys:user.home}/.Oolite/Logs/oolite-starter.log"
                 filePattern="${sys:user.home}/.Oolite/Logs/oolite-starter-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{2.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="5" fileIndex="min"/>
    </RollingFile>    
  </Appenders>
  <Loggers>
        <!-- error, warn, info, debug, trace -->
    <Logger level="ALL"  name="SysOut" additivity="false">
        <AppenderRef ref="SysOutStream"/>
    </Logger>
    <Logger level="info"  name="oolite.starter.Configuration"/>
    <Logger level="info"  name="oolite.starter.dcp.DebugConsoleHandler"/>
    <Logger level="info"  name="oolite.starter.dcp.PlistProtocolDecoder"/>
    <Logger level="info"  name="oolite.starter.dcp.PlistProtocolEncoder"/>
    <Logger level="warn"  name="oolite.starter.dcp.TCPServer-filter"/>
    <Logger level="info"  name="oolite.starter.ExpansionFolderAlterationListener"/>
    <Logger level="debug" name="oolite.starter.ExpansionManager"/>
    <Logger level="info"  name="oolite.starter.generic.FilteredListModel"/>
    <Logger level="info"  name="oolite.starter.generic.ListAction"/>
    <Logger level="info"  name="oolite.starter.generic.SortedListModel"/>
    <Logger level="info"  name="oolite.starter.GithubVersionChecker"/>
    <Logger level="info"  name="oolite.starter.MainFrame"/>
    <Logger level="info"  name="oolite.starter.MainFrame$1"/>
    <Logger level="info"  name="oolite.starter.model.Command"/>
    <Logger level="info"  name="oolite.starter.model.OoliteFlavor"/>
    <Logger level="info"  name="oolite.starter.model.ProcessData"/>
    <Logger level="info" name="oolite.starter.mqtt.MQTTAdapter"/>
    <Logger level="info"  name="oolite.starter.Oolite"/>
    <Logger level="info"  name="oolite.starter.Oolite2"/>
    <Logger level="info"  name="oolite.starter.Oolite2.OoliteExpansionListModel"/>
    <Logger level="info"  name="oolite.starter.OoliteVersionChecker"/>
    <Logger level="info"  name="oolite.starter.ui.AnnotationRenderer"/>
    <Logger level="info"  name="oolite.starter.ui.DeferredDocumentChangeListener"/>
    <Logger level="warn"  name="oolite.starter.ui.ExpansionReferenceCellRenderer"/>
    <Logger level="info"  name="oolite.starter.ui.ExpansionsPanel"/>
    <Logger level="info"  name="oolite.starter.ui.DimAroundCenteredPanel"/>
    <Logger level="info"  name="oolite.starter.ui.InstallationPicker"/>
    <Logger level="info"  name="oolite.starter.ui.InstallationsPanel"/>
    <Logger level="warn"  name="oolite.starter.ui.InstallationTableModel"/>
    <Logger level="info"  name="oolite.starter.ui.MrGimlet"/>
    <Logger level="info"  name="oolite.starter.ui.SaveGamePanel"/>
    <Logger level="warn"  name="oolite.starter.ui.ScanOolitesSwingWorker"/>
    <Logger level="info"  name="oolite.starter.ui.SplashPanel"/>
    <Logger level="info"  name="oolite.starter.ui.StartGamePanel"/>
    <Logger level="warn"  name="oolite.starter.ui.Util"/>
    <Logger level="info"  name="oolite.starter.ui.Util.BalloonHandler"/>
    <Logger level="info"  name="oolite.starter.util.FilterAndSearchUtil"/>
    <Logger level="info"  name="oolite.starter.util.FilterAndSearchUtil.SearchFilter"/>
    <Logger level="warn"  name="oolite.starter.util.HttpUtil"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionCellRenderer"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionPanel"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionSetPanel"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionsPanel2"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionsPanel2$1"/>
    <Logger level="info"  name="oolite.starter.ui2.ExpansionsPanel2$2"/>
    <Logger level="info"  name="oolite.starter.ui2.FlavorsPanel"/>
    <Logger level="info"  name="oolite.starter.ui2.InstallSwingWorker"/>
    <Logger level="info"  name="oolite.starter.ui2.OoliteFlavorListCellRenderer"/>
    <Logger level="info"  name="oolite.starter.ui2.RemoveSwingWorker"/>
    <Logger level="info"  name="oolite.starter.ui2.SaveGameCellRenderer"/>
    <Logger level="info"  name="oolite.starter.ui2.StartGamePanel2"/>
    <Logger level="info"  name="oolite.starter.util.HttpUtil"/>
    <Logger level="warn"  name="oolite.starter.util.PlistUtil"/>
    <Logger level="info"  name="oolite.starter.util.Util"/>
    <Logger level="info"  name="oolite.starter.util.XmlUtil"/>
    <Logger level="warn"  name="oolite.starter.XmlUtil"/>
    <Logger level="info"  name="org.apache.mina.filter.codec.ProtocolCodecFilter"/>

    <Root level="TRACE">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>