<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="SysOutStream" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="${sys:user.home}/.Oolite/Logs/oolite-starter.log"
                 filePattern="${sys:user.home}/.Oolite/Logs/oolite-starter-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{2.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy max="5" fileIndex="min"/>
    </RollingFile>    
  </Appenders>
  <Loggers>
        <!-- error, warn, info, debug, trace -->
    <Logger level="ALL"  name="SysOut" additivity="false">
        <AppenderRef ref="SysOutStream"/>
    </Logger>
    <Logger level="info"  name="oolite.starter.Configuration"/>
    <Logger level="debug" name="oolite.starter.ExpansionManager"/>
    <Logger level="info"  name="oolite.starter.GithubVersionChecker"/>
    <Logger level="info"  name="oolite.starter.MainFrame"/>
    <Logger level="info"  name="oolite.starter.model.Command"/>
    <Logger level="warn"  name="oolite.starter.model.ProcessData"/>
    <Logger level="info"  name="oolite.starter.Oolite"/>
    <Logger level="info"  name="oolite.starter.ui.AnnotationRenderer"/>
    <Logger level="info"  name="oolite.starter.ui.DeferredDocumentChangeListener"/>
    <Logger level="warn"  name="oolite.starter.ui.ExpansionReferenceCellRenderer"/>
    <Logger level="info"  name="oolite.starter.ui.ExpansionsPanel"/>
    <Logger level="warn"  name="oolite.starter.ui.InstallationForm"/>
    <Logger level="info"  name="oolite.starter.ui.InstallationsPanel"/>
    <Logger level="warn"  name="oolite.starter.ui.InstallationTableModel"/>
    <Logger level="info"  name="oolite.starter.ui.MrGimlet"/>
    <Logger level="info"  name="oolite.starter.ui.OoliteFileChooserAccessory"/>
    <Logger level="warn"  name="oolite.starter.ui.ScanOolitesSwingWorker"/>
    <Logger level="info"  name="oolite.starter.ui.SplashPanel"/>
    <Logger level="info"  name="oolite.starter.ui.StartGamePanel"/>
    <Logger level="info"  name="oolite.starter.ui.Tag"/>
    <Logger level="warn"  name="oolite.starter.ui.Util"/>
    <Logger level="debug" name="oolite.starter.ui.Util.BalloonHandler"/>
    <Logger level="warn"  name="oolite.starter.util.PlistUtil"/>
    <Logger level="info"  name="oolite.starter.util.Util"/>
    <Logger level="info"  name="oolite.starter.util.XmlUtil"/>
    <Logger level="warn"  name="oolite.starter.XmlUtil"/>

    <Root level="TRACE">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>