<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OoliteStarter</string>
    <key>CFBundleDisplayName</key>
    <string>Oolite Starter</string>
    <key>CFBundleIdentifier</key>
    <string>org.oolite.starter-@pomversion@</string>
    <key>CFBundleVersion</key>
    <string>@pomversion@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Oolite Starter</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>OoliteStarter.icns</string>
    </array>
    <key>UILaunchImageFile</key>
    <string>OoliteStarterIcon</string>
</dict>
</plist>