<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- error, warn, info, debug, trace -->
    <Logger level="warn"  name="Oolite"/>
    <Logger level="warn"  name="oolite.starter.Configuration"/>
    <Logger level="warn"  name="oolite.starter.ConfigurationTest"/>
    <Logger level="warn"  name="oolite.starter.ExpansionManager"/>
    <Logger level="warn"  name="oolite.starter.ExpansionManagerTest"/>
    <Logger level="warn"  name="oolite.starter.GithubVersionChecker"/>
    <Logger level="error"  name="oolite.starter.model.Command"/>
    <Logger level="warn"  name="oolite.starter.model.ExpansionTest"/>
    <Logger level="warn"  name="oolite.starter.model.ExpansionReferenceTest"/>
    <Logger level="warn"  name="oolite.starter.model.InstallationTest"/>
    <Logger level="warn"  name="oolite.starter.model.ProcessData"/>
    <Logger level="warn"  name="oolite.starter.model.SaveGameTest"/>
    <Logger level="warn"  name="oolite.starter.GithubVersionCheckerTest"/>
    <Logger level="info"  name="oolite.starter.Oolite"/>
    <Logger level="info"  name="oolite.starter.OoliteTest"/>
    <Logger level="warn"  name="oolite.starter.ProcessRunExceptionTest"/>
    <Logger level="info"  name="oolite.starter.util.PlistUtil"/>
    <Logger level="info"  name="oolite.starter.util.PlistUtilTest"/>
    <Logger level="info"  name="oolite.starter.util.Util"/>
    <Logger level="warn"  name="oolite.starter.util.UtilTest"/>
    <Logger level="warn"  name="oolite.starter.util.XmlUtil"/>
    <Logger level="warn"  name="oolite.starter.util.XmlUtilTest"/>
    
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>