<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <!-- error, warn, info, debug, trace -->
    <Logger level="warn" name="oolite.starter.ConfigurationTest"/>
    <Logger level="warn" name="oolite.starter.GithubVersionChecker"/>
    <Logger level="warn" name="oolite.starter.model.ExpansionTest"/>
    <Logger level="warn" name="oolite.starter.model.ExpansionReferenceTest"/>
    <Logger level="warn" name="oolite.starter.model.InstallationTest"/>
    <Logger level="warn" name="oolite.starter.model.SaveGameTest"/>
    <Logger level="warn" name="oolite.starter.Oolite"/>
    <Logger level="info" name="oolite.starter.OoliteTest"/>
    <Logger level="warn" name="oolite.starter.XmlUtil"/>
    
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>